<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- SEO -->
<title>{{#title}}{{title}} | {{/title}}{{site-title}}</title>
<meta name="description" content="{{site-description}}">
<meta name="robots" content="index, follow" />
<meta name="referrer" content="always" />

<!-- Social & Open Graph -->
<meta property="og:title" content="{{#title}}{{title}} | {{/title}}{{site-description}}" />
<meta property="og:description" content="{{site-description}}" />
{{#main-image}}<meta property="og:image" content="https://ursamaior.net/{{main-image}}">{{/main-image}}

<!-- Favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">

<!-- Styles -->
{{#stylesheet_bundle}}/css/style.css{{/stylesheet_bundle}}
<meta name="viewport" content="width=device-width,initial-scale=1" />
