<!DOCTYPE html>
<html lang="en-US">

<head>
  {{>head}}
</head>

<body id="fullsingle" {{#background}}style="background:{{background}};"{{/background}} class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image Side -->
    {{#image}}
      <div class="split-image" style="background-image: url({{image}})"></div>
    {{/image}}

    {{#video}}
      <div class="split-image split-video">
        <div class="video-wrap">
          <div class="video-container">
            <iframe class="video-content" src="https://player.vimeo.com/video/{{video}}?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {{/video}}

    <!-- Content Side -->
    <div class="split-content">

      {{>menu}}

      <div class="split-content-vertically-center">
        <img id="um-logo" src="images/logo.svg" />

        <div class="split-intro">
          
          <h1><a {{#color}}style="color:{{color}}"{{/color}} href="/">{{site-title}}</a></h1>

          <h2 class="tagline">{{title}}</h2>
          {{#subtitle}}<h3 class="tagline">{{subtitle}}</h3>{{/subtitle}}
        </div>

        <div class="split-bio">
          
          {{{body}}}
          <small>{{{credits}}}</small>

        </div>
        {{#links}}
          <div class="split-lists">
            
            <div class="split-list">

              <h3 {{#color}}style="color:{{color}}"{{/color}}>Links</h3>

              <ul>
                {{#links}}<li><a {{#color}}style="color:{{color}}"{{/color}} href="{{href}}">{{content}}</a></li>{{/links}}
              </ul>

            </div>
          </div>
        {{/links}}
        {{>footer}}
      </div>

    </div>



  </div>

  </body>
</html>