  <label class="menu" for="menu">menu</label>
  <input type="checkbox" name="menu" id="menu"/>
  <menu>
    <label for="menu">close</label>
    <nav>
      {{#navbar}}
        <a href="./{{href}}">{{text}} <small>({{year}})</small></a>
      {{/navbar}}
    </nav>
  </menu>