<!DOCTYPE html>
<html lang="en-US">

<head>
  {{>head}}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image Side -->
    {{#image}}
      <div class="split-image" style="background-image: url({{image}})"></div>
    {{/image}}

    {{#video}}
      <div class="split-image split-video">
        <img id="um-logo" src="images/logo.svg" />
        <div class="video-wrap">
          <div class="video-container">
            <iframe class="video-content" src="https://www.youtube.com/embed/{{video}}?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;mute=1&playlist={{video}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {{/video}}

    <!-- Content Side -->
    <div class="split-content">

      {{>menu}}

      <div class="split-content-vertically-center">
      
        <div class="split-intro">
          <h1><a href="/">{{site-title}}</a></h1>

          <h2 class="tagline">{{title}}</h2>
          {{#subtitle}}<h3 class="tagline">{{subtitle}}</h3>{{/subtitle}}
        </div>

        <div class="split-bio">
          
          {{{body}}}
          <small>{{{credits}}}</small>

        </div>
        {{#links}}
        <div class="split-lists">
          
          <div class="split-list">

            <h3>Links</h3>

            <ul>
              {{#links}}<li><a href="{{href}}">{{content}}</a></li>{{/links}}
            </ul>

          </div>
        </div>
        {{/links}}
        {{>footer}}
      </div>

    </div>



  </div>

  </body>
</html>